.footerBg {
        background-image: linear-gradient(rgba(9,22,29,.9),rgba(9,22,29,.9)),url('https://i.ibb.co/MVGhDbg/testi-video-bg.webp');
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
}

div.footer-logo span:before {
    content: "";
    width: 84px;
    height: 1px;
    background-color: #bf9444;
    position: absolute;
    left: -95px;
    top: 6px;
}

div.footer-logo span:after {
    content: "";
    width: 84px;
    height: 1px;
    background-color: #bf9444;
    position: absolute;
    right: -95px;
    top: 6px;
}